In [4]:
#tuples
tup0=(1,2,3,4)
tup1=("hi",1.3,2,4)
tup2=("hello",tup0,tup1)

#indexing

tup2[1]

#slicing
print(tup2[0][1:3])

el

In [2]:
print(tup2[1])

(1, 2, 3, 4)

In [3]:
print(tup2[2][0])

hi

In [5]:
#tuple methods

tup0.count(1)

1

In [6]:
tup0.index(2)

1

In [9]:

print(max(tup2))
print(min(tup2))
print(len(tup2))

TypeError: '>' not supported between instances of 'tuple' and 'str'

In [12]:
#set
s2={1,2,3,"hi",(1,2,3,4)}

l=[1,3,5,7]

s3= set(l)

print(s3)

s2.add(6)

s2.update([2,3,4])

s2.discard(4)

s2.remove(2)


#set operations

a={1,2}
b={4,5}
print(a|b)
print(a.union(b))
print(b.union(a))

{1, 3, 5, 7}
{1, 2, 4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [13]:
#intersection
#union
#difference

In [15]:
#dictionary
dic={'name':'srk','address':'Mumbai'}

In [16]:
print(dic['name'])
print(dic.keys())
print(dic.values())
print(dic.get('name'))

srk
dict_keys(['name', 'address'])
dict_values(['srk', 'Mumbai'])
srk

In [18]:
#scanf statement to take int only
a=int(input("enter a numbetr"))
print(a)

#by default it take strings
b=input("enter a string")
print(b)

enter a numbetr4
4

In [21]:
#string formats
name="Genzeon"
language="python"
c="trainees"

print(c,"are learning",language,"programming at",name)


#format
print("{1} are learning {0} programming at {2}".format(language,c,name))

trainees are learning python programming at Genzeon
trainees are learning python programming at Genzeon

In [23]:
#placeholder
print("%s are learning %s programmimg at %s"%(c,language,name))

#rawstring
print(f"{c} are learning {language} programming at {name}")

trainees are learning python programmimg at Genzeon
trainees are learning python programming at Genzeon

In [24]:
#Decision Making

#if statement
var=10
if var>0:
    print("true")
    print(var)

true
10

In [26]:
#ifelse
var1=-1
if var>0:
    print("true")
else:
    print("false")

true

In [36]:
#nested if
age=int(input("Enter Your Age"))
if(age<=5):
    print("HI child")
else:
    if(age>5 and age<=18):
        print("Hey Welcome Aboard")
    else:        
        if(age>18 and age<=60):
            print("Enjoy")
        else:
            print("Enjoy n take rest")

Enter Your Age45
Enjoy

In [43]:
#Loop
#for loop
ln=[1,2,3,4,5,6,7,8,9,10]
sum=0
for val in ln:
    sum=sum+val
print(sum)

55

In [40]:
for val in range(len(ln)):
    print(val)

0
1
2
3
4
5
6
7
8
9
10

In [52]:
for x in ln:
    for y in ln:
        print(f"{x}*{y}=",x*y)

1*1= 1
1*2= 2
1*3= 3
1*4= 4
1*5= 5
1*6= 6
1*7= 7
1*8= 8
1*9= 9
1*10= 10
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
2*10= 20
3*1= 3
3*2= 6
3*3= 9
3*4= 12
3*5= 15
3*6= 18
3*7= 21
3*8= 24
3*9= 27
3*10= 30
4*1= 4
4*2= 8
4*3= 12
4*4= 16
4*5= 20
4*6= 24
4*7= 28
4*8= 32
4*9= 36
4*10= 40
5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50
6*1= 6
6*2= 12
6*3= 18
6*4= 24
6*5= 30
6*6= 36
6*7= 42
6*8= 48
6*9= 54
6*10= 60
7*1= 7
7*2= 14
7*3= 21
7*4= 28
7*5= 35
7*6= 42
7*7= 49
7*8= 56
7*9= 63
7*10= 70
8*1= 8
8*2= 16
8*3= 24
8*4= 32
8*5= 40
8*6= 48
8*7= 56
8*8= 64
8*9= 72
8*10= 80
9*1= 9
9*2= 18
9*3= 27
9*4= 36
9*5= 45
9*6= 54
9*7= 63
9*8= 72
9*9= 81
9*10= 90
10*1= 10
10*2= 20
10*3= 30
10*4= 40
10*5= 50
10*6= 60
10*7= 70
10*8= 80
10*9= 90
10*10= 100

In [62]:
num=int(input("enter the list of tables you wanna write"))
i=1
while(i<=num):
    print(f"Table{i}")
    j=1
    while(j<11):
        print(f"{i}*{j}={i*j}")
        j=j+1
    i=i+1

enter the list of tables you wanna write4
Table1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
Table2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
Table3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
Table4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [ ]:
#Control Statemenbts

#break
for l in "python":
    if l=="h":
        break
    print(l)

In [55]:
int1=10
while(int1>0):
    print("current values:",int1)
    int1=int1-1
    if int1==5:
        break

current values: 10
current values: 9
current values: 8
current values: 7
current values: 6

In [59]:
#continue
int1=10
while(int1>0):
    #print("current values:",int1)
    int1=int1-1
    if int1==5:
        continue
    print(int1)

9
8
7
6
4
3
2
1
0

In [58]:
#pass
for l in "python":
    if l=="h":
        pass
        print("pass block")
    print(l)

p
y
t
pass block
h
o
n

In [63]:
for i in range(65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z