In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dataset='/content/drive/MyDrive/ML/framingham.csv'
import pandas as pd
df=pd.read_csv(dataset)

In [ ]:
df

,gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [ ]:
#print the number of NAs in each column of dataframe
print(df.isna().sum())

gender               0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
df['education'] = df['education'].fillna(df['education'].mean())
df['cigsPerDay'] = df['cigsPerDay'].fillna(df['cigsPerDay'].mean())
df['BPMeds'] = df['BPMeds'].fillna(df['BPMeds'].mean())
df['totChol'] = df['totChol'].fillna(df['totChol'].mean())
df['BMI'] = df['BMI'].fillna(df['BMI'].mean())
df['heartRate'] = df['heartRate'].fillna(df['heartRate'].mean())
df['glucose'] = df['glucose'].fillna(df['glucose'].mean())

In [ ]:
print(df.isna().sum())

gender             0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4238 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4238 non-null   float64
 5   BPMeds           4238 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4238 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4238 non-null   float64
 13  heartRate        4238 non-null   float64
 14  glucose          4238 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [ ]:

Y = df['TenYearCHD']
X = df.drop(columns='TenYearCHD')

In [ ]:

from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test = train_test_split(X,Y , test_size=0.2 , random_state=42)

In [ ]:
#checking for balanced or imbalanced data
count = df['TenYearCHD'].value_counts()
print(count)

0    3594
1     644
Name: TenYearCHD, dtype: int64

In [ ]:
Y_train.value_counts()

0    2870
1     520
Name: TenYearCHD, dtype: int64

In [ ]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_train_balanced, Y_train_balanced = smote.fit_resample(X_train, Y_train)

In [ ]:
Y_train.value_counts()

0    3594
1    3594
Name: TenYearCHD, dtype: int64

In [ ]:
Y_test.value_counts()

0    724
1    124
Name: TenYearCHD, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train_balanced)
X_test_scaled = sc.transform(X_test)

In [ ]:
print(X_train_scaled.shape,X_test_scaled.shape, Y_train.shape,Y_test.shape)

(7188, 15) (848, 15) (7188,) (848,)

In [ ]:
from sklearn.linear_model import LogisticRegression
lrmodel = LogisticRegression()

lrmodel.fit(X_train_scaled,Y_train_balanced)

LogisticRegression()

In [ ]:
lrmodel.score(X_train_scaled,Y_train_balanced)

0.6816917084028937

In [ ]:
lrmodel.score(X_test_scaled,Y_test)

0.6379716981132075

In [ ]:
X=sc.transform(X)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [ ]:
lrmodel.score(X,Y)

0.8480415290231241

In [ ]:
coefficients=lrmodel.coef_
print(coefficients)

[[-0.19534134  0.57759561 -0.02099584 -0.50779857  0.81516202  0.11496452
  -0.03642168 -0.3497926  -0.13195681  0.02231369  0.41430907  0.19719462
   0.0135287  -0.05922896  0.32001726]]

In [ ]:
intercept=lrmodel.intercept_
print(intercept)

[0.01343863]

In [ ]:
from sklearn.metrics import accuracy_score
Y_pred = lrmodel.predict(X_test_scaled)

In [ ]:
acc=accuracy_score(Y_pred,Y_test)
print(acc)

0.6379716981132075